<div class="col-md-5 text-center">
  <h3>Kitty Kittendottir</h3>
  <p>789 Purrfection St</p>
  <p>00-89 Catnip</p>
  <p>Kitten Kingdom</p>
  <p>kitty@purrfection.cat</p>
</div>

<div class="col-md-7">
  <img class="img-responsive" src="/img/kittens.jpg" />
</div>
