<h1><%= item.name %></h1>

<form action="/basket" method="post">
  <input type="hidden" name="product_id" value=<%= item.id %>>
  <p>What amount of <i><%= item.name %></i> shall I add to your basket?</p>
  <p><input class="amount" type="number" name="quantity" value=1></p>
  <button class="btn btn-success" type="submit">Add to basket</button>
</form>
